/* test ----- Playground Styles ----- test */

/*
$btn-color: #ffffff;
$btn-background: #acd8ff;
$btn-border: #68b6f9;

$btn-padding-vertical: 20px;
$btn-padding-horizontal: 120px;
$btn-font-size: 14px;
$btn-line-height: 1.5;
$btn-border-radius: 6px;
*/


.btn {
	//@include button($color, $background, $border);
	@include button();
	@include button-size();
	//@include button-fluid();
	//@include button-fixed();
	//@include button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius);
	//@include button-fixed();
	float: right;
}

.mybtn {
	background: green;
	color: white;
	padding: 120px;
	@include button-fluid();
	color: #dedede;
} 

// Should make a general use class for button cases. 