// Footer ----------------------------
// -----------------------------------

#footer {
    background: $base-gray-dark;
    padding: 24px 0 30px 0;
    
    header {
        border-bottom: 1px solid $base-gray-light;
        padding: 0 6px;
    }
    
    .footer-header-left {
        
    }
    
    .footer-header-right {
        display: none;
        
        @include breakpoint($tablets) {
            display: inline-block;
            margin-top: 4px;
        }
    }
    
    .navigation-container {
        float: right;
    }
}

.footer {
    padding: 24px 0;
}

// Post Footer
// -------------------------

#post-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

#post-footer {
    background-color: #171818;
    @include filter-gradient(#171818, #0e0e0e, vertical);
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  #171818 0%,#0e0e0e 100%));
}

// Sub-Categories
// -------------------------
	
	