// Header ----------------------------
// -----------------------------------

#header {
	background: $base-blue;
	padding: 12px 0;
	border-bottom: 1px solid #4480ab;
}

// Sub-Categories
// -------------------------
	
	