// Navigation ------------------------
// -----------------------------------

// Base Inline Navigation
// -------------------------

.navigation-container {
	
	ul {
	    width: 100%;
	    padding: 0;
	    margin: 0;
	    list-style: none;
	}
	
	li {
	    display: inline;
	    padding-right: 1.5em;
	}
	
	a {
		font-size: 12px;
	}
}


// Navigation Main
// -------------------------

#navigation {
	background: black;
	padding: 1px 0;
	opacity: 0.6;
	
	.navigation-container {
    	float: left;
    	
    	li:first-child {
        	margin-left: 0;
    	}
    	
    	a {
        	color: $base-light;
    	}
	}
}

// Navigation Footer
// -------------------------

#footer {
    
    .navigation-container {
    	float: right;
    	
    	li:last-child {
        	padding-right: 0;
    	}
    	
    	a {
        	color: $base-gray-light;
    	}
	}
}

// Sub-Categories
// -------------------------
	
	