// Forms -----------------------------
// -----------------------------------

// Base
// -------------------------

// Group Seperator
.form-group {
	margin-bottom: 20px;
}

// Hide Label
.hide-label {
	border: 0 none;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

label {
	display: inline-block;
	margin: 5px;
	max-width: 100%; 
}

// Input Field
.form-control {
	background: white;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	color: #555555;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.5;
	padding: 6px 12px;
	width: 100%;
	
	@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
}

// Button
button {
	border: none;
}

.button {
	width: 100%;
	background: white;
	-moz-user-select: none;
	background-image: none;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 0;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}


.form-inline {

	button {
		margin-top: 20px;
	}
	
	@include respond-to(desktop) {
		
		button {
			margin-top: 0px;
		}
		
		.form-group {
			margin-bottom: 0;
			vertical-align: middle;
			@include clearfix();
		}
		
		label {
			margin:0;
		}
		
		.form-control {
			display: inline-block;
			vertical-align: middle;
			width: 88%;
			font-size: 14px;
			height: 34px;
			line-height: 1.5;
			padding: 6px 12px;			
			float: left;			
		}
		
		.button {
			width: 10%;
			float: right;
		}
	}
}

// Home Search 
// -------------------------

.form-container {
	max-width: 520px;
	margin: 0 auto;
	
	.out {
		background: none;
		@include border-radius(12px);
		
		@include respond-to(desktop) {
			background: $base-blue;
			border: solid 5px rgba(255,255,255,0.1);
			background-clip: padding-box;
		}
	}
}

.form-inline.search-form {
	
	input {
		border: solid 5px rgba(255,255,255,0.1);
		background-clip: padding-box;
		height: 51px;
	}
	
	.button {
		background: $base-blue;
		color: $base-light;
	}
	
	@include respond-to(desktop) {
		
		input {
			border: none;
		}
	
		button {		
			margin-top: 0px;
			background: none;
			padding: 14px 12px;
		}
		
		.button {
			width: 30%;
			float: left;
			color: white;
		}
		
		.form-group {
			margin-bottom: 0;
			vertical-align: middle;
			@include clearfix();
		}
		
		label {
			margin:0;
		}
		
		.form-control {
			display: inline-block;
			vertical-align: middle;
			width: 70%;
			font-size: 14px;
			height: 51px;
			line-height: 1.5;
			padding: 6px 12px;			
			float: left;			
		}
	}
}










































