// Logo ------------------------------
// -----------------------------------

.logo {
	float: left;
	
	h3 {
		margin: 0;
	}
}

#logo {
	width: 70px;
	height: 19px;
	background: image-url("logo.png") no-repeat;
	
	span {
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
	}
} 

// Sub-Categories
// -------------------------
	
	