// Logo ------------------------------
// -----------------------------------

// Base Logo
// -------------------------

.logo {
	float: left;
	
	h3 {
		margin: 0;
	}
}

#logo {
	width: 70px;
	height: 19px;
	
	span {
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
	}
}

// Logo Main
// -------------------------

#header {
    
    #logo { 
        background: image-url("logo.png") no-repeat;
    }
}

// Logo Footer
// -------------------------

#footer {

    .logo {
    	
    	h3 {
    		margin-top: 2px;
    	}
    }

    #logo {         
        background: image-url("logo-footer.png") no-repeat;            
        margin-right: 20px;
    }
    
    .footer-logo-container {
        
        p.slogan {
            font-size: 18px;
            color: $base-gray-light;
        	float: left;
        }
    }
}

// Sub-Categories
// -------------------------
















	