// Page Titles -----------------------
// -----------------------------------

// Home Page Banner
// -------------------------

.page-title-banner {
	
	p {
		font-size: 40px;
		color: $base-light;
		text-align: center;
		text-shadow: rgb(66, 69, 73) 0px 1px 1px;
		
		margin-bottom: 35px;
	}
}
	
	